.paper-btn {
  display: inline-block;
  margin: 58px 12px;
}

.paper-btn label {
  display: inline-block;
  width: 80px;
  border-radius: 3px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  color: #616161;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 40px;
  cursor: pointer;
  text-align: center;
  transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.paper-btn input {
  display: none;
}
.paper-btn-true input:checked ~ label {
  background: lightgreen;
  box-shadow: 2px 0px 10px lightgreen, 0px 2px 10px lightgreen, -2px 0px 10px lightgreen, 0px -2px 10px lightgreen;
  color: #000;
}

.paper-btn-false input:checked ~ label {
  background: pink;
  box-shadow: 2px 0px 10px pink, 0px 2px 10px pink, -2px 0px 10px pink, 0px -2px 10px pink;
  color: #000;
}


.container {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}

.custom-checkbox input {
  display: none;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  color: #333;
}

.text::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 15px;
  border: 2px solid #555;
  transition: all 0.2s ease;
}


.custom-checkbox input:checked + .text::before {
  height: 10px; 
  width: 20px;
  border-top: none;
  border-right: none;
  border-color: #00bcd4;
  transform: rotate(-45deg);
  margin-bottom: 5px; 
}