body {
    background-color: azure;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18pt;
    color: firebrick;
    border: 3px solid blue;
    width: 35%;
    margin: 10px auto;
}

.inner-grid {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto 100px;
    display: grid;
    gap: 20px;
}

.catalog-grid {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    display: grid;
    gap: 20px;
}

.flex {
    border: 1px dashed black;
}

header {
    grid-column-start: 1;
    grid-column-end: 4;
    min-height: 100px;
}

footer {
    grid-column-start: 1;
    grid-column-end: 4;
}

main{
    grid-column-start: 1;
    grid-column-end: 4;
    border: 3px solid green;
}

.filter {
    grid-row: span 22;
    
}

.sort {
    grid-row: span 4;
    grid-column-start: 2;
    grid-column-end: 4;
    
}

.product-card {
    grid-column: span 1;
    grid-row: span 6;
}