body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.slider-container {
    position: relative;
    width: 300px;
    height: 450px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    overflow: hidden;
}


.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    opacity: 0;
}


.slide.active {
    opacity: 1;
    z-index: 2;
}

.slide img {
    width: 180px;
    height: 270px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.genre {
    font-size: 0.8rem;
    color: gray;
    letter-spacing: 1px;
}

.title {
    font-size: 25px;
    font-weight: bold;
    margin: 5px 0;
    color: darkslategray;
}

.author {
    font-size: 15px;
    color: dimgray;
    margin-bottom: 10px;
}

.price {
    font-size: 15px;
    font-weight: bold;
    color: darkorange;
}


button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.3);
    color: white;
    border: none;
    padding: 15px 10px;
    cursor: pointer;
    z-index: 10;
    border-radius: 3px;
    transition: background 0.3s;
}

button:hover {
    background: black;
}

.prev-btn { 
    left: 0;
}
.next-btn { 
    right: 0; 
}