body{
	font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f9;
	display: flex;
	flex-direction: row;

}


.show img {
    display: none; 
}

/* Добавляем класс, чтобы изображение стало видимым */
.show img.visible {
    display: block; 
    max-width: 100%;
    height: auto;
}

/* Стили для названия (опционально) */
.show span {
    cursor: pointer;
    display: block; 
    padding: 5px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
}