body {
    background-color: whitesmoke;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20pt;
    color:darkblue;
}

header{
	background: #C9082A;
	text-align: center;
	color: white;
	height: 150px;
	border: 5px solid black;
	line-height: 75px;
	margin: 5px;
	z-index: 10; 
}

main{
	margin: 15px;
}

footer{
	background: #C9082A;
	height: 150px;
	border: 5px solid black;
	margin-top: 10px;
}

.footer-content {
	margin-top: 23px;
	text-align: center;
	color: white;
	line-height: 1.6;
}

.footer-content p {
	margin: 5px 0;
	font-size: 14pt;
}

.headmain{
	border: 3px solid black;
	overflow: hidden;

}

.rightlist{
	display: float;
	float: right;
	width: 20%;
	height: 612px;
	background: #001B69;
	position: relative;
  	z-index: -1; 
}

.cities-list {
    list-style: none;
    padding: 0;
    margin: 15% auto;
    max-width: 220px;
    background: #8B0000;
    border-radius: 10px;
    overflow: hidden;
}

.cities-list li {
	margin: 8px;
    padding: 14px 20px;
    color: white;
    border-bottom: 1px solid #A52A2A;
    background: #B22222;

}
